.stack{
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  gap: 3px;
  button{
    padding: 5px 10px;
  }
}
.root{
  margin: 0 auto;
  justify-content: center;
  backdrop-filter: blur(10px);
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 20px;
  width: 50%;
  background: rgba(255, 255, 255, 0.01);
  &:hover{
    svg{
      opacity: 1;
    }
    .title{
      &::before {
        content: '';
        position: absolute;
        width: 100%;
        bottom: 4px;
        height: 1px;
        background: #ffffff;
      }
    }
  }
}
.container{
  padding: 20px;
}
.textcontainer{
  width: 100%;
  margin-bottom: 10px;
  p{
    opacity: 0.6;
    width: 80%;
  }
}
.link{

  display: flex;

  justify-content: space-between;

  svg{
    transition: opacity 0.2s ease-in-out;
    opacity: 0.2;
  }
}

.title{
  position: relative;
  &::before {
    transition: width 0.2s ease-in-out;
    content: '';
    position: absolute;
    width: 0%;
    bottom: 4px;
    height: 1px;
    background: #ffffff;
  }
}

@media screen and (max-width: 460px) {
  .root{
    width: 70%;
  }
  .title{
    font-size: 12px;
  }
  .link{
    display: flex;
    svg{
      width: 15px;
    }
  }
  .textcontainer{
    p{
      width: 100%;
      font-size: 14px;
    }
  }
}