.root{
}
.title{
  margin-bottom: 30px;
}
.container{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.containerplus{
  margin-top: 10px;
  h1{
    width: 60%;
  }
}
.skillsplus{
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin-top: 10vh;
  img{
    width: 100px;
    margin-bottom: 10px;
  }
}
.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  p{
    font-size: 20px;
    width: 60%;
    font-weight: 400;
    opacity: 0.6;
  }
}