.root{
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
  flex-direction: column;
  width: 100%;
}
.container{
  max-width: 100%;
  margin-top: 10vh;
}

.projects{
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}

.swiper-scrollbar{
  display: none;
}