.root {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
  height: max-content;
  p{
    font-weight: 300;
    margin-top: 10vh;
    font-size: 24px;
    width: 50%;
  }
}
.container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
@media screen  and (max-width: 768px){
  .root{
    p{
      width: 80%;
    }
  }
}

.container p span {
  opacity: 0;
  transform: translateY(-100px);
  transition: all 0.3s ease;
}

.container p span.fall {
  opacity: 1;
  transform: translateY(0);
}