*{
    color: white;
    font-family: Jost, serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #181818;
}
h1{
    font-weight: 500;
}
p{
    font-weight: 300;
}